---
import Layout from "@/layouts/Layout.astro"
import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import Html from "@/components/icons/Html.astro"
import Css from "@/components/icons/Css.astro"
import Javascript from "@/components/icons/Javascript.astro"
import New from "@/components/icons/New.astro"
import Git from "@/components/icons/Git.astro"
import GitHub from "@/components/icons/GitHub.astro"
import VisualStudio from "@/components/icons/VisualStudio.astro"
import Node from "@/components/icons/Node.astro"
import Npm from "@/components/icons/Npm.astro"
import Tailwind from "@/components/icons/Tailwind.astro"
import NewProfilecheck from "@/components/icons/NewProfilecheck.astro"
import LinkButton from "@/components/LinkButton.astro"
import Book from "@/components/icons/Book.astro"
import NewLinkButton from "@/components/NewLinkButton.astro"
import React from "@/components/icons/React.astro"
import Vite from "@/components/icons/Vite.astro"
import Projects2 from "@/components/Projects2.astro"
import TypeScript from "@/components/icons/TypeScript.astro"
import Nest from "@/components/icons/Nest.astro"
import Postgre from "@/components/icons/Postgre.astro"
import Swagger from "@/components/icons/Swagger.astro"
import TypeORM from "@/components/icons/TypeORM.astro"
import JWT from "@/components/icons/JWT.astro"
---

<Layout
  title="Tiago's Portfolio"
  description="Contrata a Tiago Isidro para crear tu pagina web. Desarrollador Web Front End. Especializado en soluciones únicas."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects2 />
    </SectionContainer>

<SectionContainer>
  <h2
    class="flex items-center mb-6 text-3xl font-semibold gap-x-2 text-black/80 dark:text-white pt-20"
  >
    <ProfileCheck class="size-8" />
     Tecnologias
  </h2>

  <div class="flex flex-col items-center justify-center gap-y-10">
  <!-- Primera fila -->
  <div class="flex flex-wrap justify-center gap-10">
    {[
      { icon: Html, name: "HTML" },
      { icon: Css, name: "CSS" },
      { icon: Javascript, name: "Javascript" },
      { icon: TypeScript, name: "TypeScript" },
      { icon: Nest, name: "Nest" },
      { icon: Postgre, name: "Postgre" },
      { icon: Swagger, name: "Swagger" },
      { icon: TypeORM, name: "TypeORM" },
      { icon: JWT, name: "JWT" },
      { icon: Git, name: "Git" },
      { icon: React, name: "React JS" },
    ].map(({ icon: Icon, name }) => (
      <div class="flex flex-col items-center">
        <Icon class="size-20" />
        <h2 class="text-center mt-2">{name}</h2>
      </div>
    ))}
  </div>

  <!-- Segunda fila -->
  <div class="flex flex-wrap justify-center gap-10">
    {[
      { icon: New, name: "Astro" },
      { icon: GitHub, name: "GitHub" },
      { icon: VisualStudio, name: "VS Code" },
      { icon: Node, name: "Node" },
      { icon: Npm, name: "Npm" },
      { icon: Tailwind, name: "Tailwind CSS" },
      { icon: Vite, name: "Vite JS" },
    ].map(({ icon: Icon, name }) => (
      <div class="flex flex-col items-center">
        <Icon class="size-20" />
        <h2 class="text-center mt-2">{name}</h2>
      </div>
    ))}
  </div>
</div>

</SectionContainer>


    <SectionContainer id="sobre-mi">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-2 text-black/80 dark:text-white pt-16"
      >
        <NewProfilecheck class="size-8" />
        Sobre mí
      </h2>
      <AboutMe />
      <div class="flex mt-20 w-full lg:max-w-[700px] mx-auto">
      <div class="flex flex-col">
      <img width="200" height="200" src="/ResponsiveCertificate.png" class="object-cover mr-5 mb-3 w-40 h-30 lg: m-5"><NewLinkButton href="https://www.freecodecamp.org/certification/Tiagoisi/responsive-web-design"><Book class="size-4"></Book><h1 class="text-sm">Mirar Certificado</h1></NewLinkButton></div>
      <div class="flex flex-col">
      <img width="200" height="200" src="/JavascriptCertificate.png" class="object-cover mr-5 mb-3 w-40 h-30 lg: m-5"><NewLinkButton href="https://www.freecodecamp.org/certification/Tiagoisi/javascript-algorithms-and-data-structures-v8"><Book class="size-4"></Book><h1 class="text-sm">Mirar Certificado</h1></NewLinkButton></div>
    </div>
    
    </SectionContainer>

  </div>
  </main>
</Layout>
