---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Tiago Isidro. Empecé en la
      programación hace mas de un año. <strong
      >Dessarrolle y aprendi los lenguajes y herrameintas esenciales en mi ambito</strong
      >.
    </p>

    <p>
      Soy estudiante <strong
        >full time, </strong
      >aparte de mis proyectos destacados, diseñe dos paginas totalmente personalizadas para empresas locales las cuales tenian la intencion de mostrar sus productos en el mercado.
    </p>

    <p>
      Actualente <strong
        >cuento con dos certificados de FreeCodeCamp,</strong
        > el primero <em class="italic">Responsive Web Design</em> y el segundo <em class="italic">Javascript Algorithms and Data Structures.</em>
    </p>
  </div>

  <img width="200" height="200" src="/tororojo.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>